

/* ========================================================================
   SLIDESHOW
 ========================================================================== */

img {
  max-width: 100%;
}

.slideshow .container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}