/* ========================================================================
   TOOLBAR
 ========================================================================== */

.toolbar {
  height: 50px;
  padding-top: 10px;
}

.toolbar-l {
  display: inline-block;
  width: 400px;
}

.toolbar-r {
  float: right;
  padding-right: 15px;
}

.toolbar li {
  float: left;
}

.toolbar li a, .toolbar span {
  padding: 0 15px;
}

.toolbar li a:hover, .toolbar li  a:focus {
  background-color: transparent;
  text-decoration: underline;
}